@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #111;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.banner {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__content {
    position: absolute;
    top: 28vh;
    left: 10vw;
}

.banner__title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 20px 0;
}

.banner__text {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.banner__button {
    width: 13vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px 16px 28px;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    text-decoration: none;
    margin-top: 5vh;
    transition: all 0.3s ease;
}

.banner__button:hover {
    color: rgba(32, 32, 39, 1);
    background-color: rgba(255, 255, 255, 1);
}

.games {
    padding: 40px 0;
}

.games__container {
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    gap: 7%;
    justify-content: center;
    background-color: #0b0b0b;
    padding: 40px;
    border-radius: 16px;
}

.game-card {
    position: relative;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    min-height: 60vh;
    height: fit-content;
    align-items: end;
    display: block;
    text-decoration: none;
    color: inherit;
}

.game-card:hover {
    transform: scale(1.07);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.game-card__image {
    height: 65%;
}

.game-card__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.game-card__info {
    height: 35%;
    width: fit-content;
    margin: 30px 20px;
}

.game-card__number {
    text-align: center;
    width: fit-content;
    font-family: Montserrat;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    font-size: 12px;
    color: #000000;
    padding: 4px 10px;
    margin: 6px 2px;
}

.game-card__title {
    font-size: 32px;
    margin: 10px 0 0 0;
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}