@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



html {
    width: 100%;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #111;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(32, 32, 39, 1);
}

.banner {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(Img/banner/banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content {
    width: 1200px;
    height: 380px;
}

.banner__title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 24px 0;
}

.banner__text {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.banner__button.desktop-only, .banner__button.mobile-only {
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px 16px 28px;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    text-decoration: none;
    margin-top: 48px;
    transition: all 0.3s ease;
}

.banner__button.mobile-only {
    display: none;
}

.desktop-only {
    display: flex;
}

.banner__button:hover {
    color: rgba(32, 32, 39, 1);
    background-color: rgba(255, 255, 255, 1);
}

.games {
    padding: 40px 120px;
    display: flex;
    justify-content: center;
}

.games__header {
    padding-left: 16px;
    margin-top: 94px;
}

.games__title {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}

.games__container {
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.games__description {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-card {
    width: 378px;
    position: relative;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: fit-content;
    align-items: end;
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 16px;
}

.game-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.game-card__image {
    height: 314px;
}

.game-card__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.game-card__info {
    height: 35%;
    padding: 32px;
}

.game-card__number {
    text-align: center;
    width: fit-content;
    font-family: Montserrat;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    font-size: 12px;
    color: #000000;
    padding: 4px 10px;
    margin: 6px 2px;
}

.game-card__title {
    font-size: 32px;
    margin: 10px 0 0 0;
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

.mini-games {
    padding: 80px 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.mini-games__title {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;

}

.mini-games__container {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.mini-games__card {
    display: flex;
    width: 1200px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.mini-games__card-content {
    width: 50%;
    padding: 48px;
}

.mini-games__card-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    /* margin: 0; */
}

.mini-games__card-description {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin: 36px 0;
}

.mini-games__card-button {
    display: flex;
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0;
    text-decoration: none;
}

.mini-games__card-button:hover {
    color: rgba(32, 32, 39, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

.mini-games__card-image {
    width: 50%;
    border-radius: 30px;
}

footer {
    height: 150px;
    background: rgba(189, 237, 53, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

}

.footer__content {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}

